{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "bracketSpacing": false,
  "singleQuote": true,
  "semi": false,
  "printWidth": 80,
  "tabWidth": 2
}
